# Terraform
.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.pem
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
venv/

# Ansible
*.retry
.ansible/
.ansible_tmp/
.ansible_cp/

# Inventory secrets (adjust if you keep them encrypted)
inventory/host_vars/*
inventory/group_vars/*
vault_password_file

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log
*.out
